#save {
  position: absolute;
  bottom: 0;
  right: 0;
}
#main {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: calc(100% - 223px);
  border: solid 1px;
  overflow-y: scroll;
}
#mainTitle {
  font-size: 4vh;
  text-align: center;
  white-space: pre-wrap;
  height: 10%;
}
#inventoryTitle {
  font-size: 4vh;
  text-align: center;
  white-space: pre-wrap;
  height: 10%;
}
#assetView {
  display: flex;
  justify-content: center;
  align-items: space-evenly;
  height: 90%;
}
#graphSelector {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 20px;
}
.graphSelector {
  width: 18%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 20px;
  background-color: #f5f5f5;
  border-radius: 7px;
  border: 1px solid lightgrey;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.graphSelector:hover{
  background-color: #c8c8c8;
}
#graph {
  width: 70%;
}
#graphElement {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 70%
}
#loadInventory {
  position: sticky;
  bottom: 0;
  left: 0;
}
#assetContainer{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}
.assets{
  background-color: #f5f5f5;
  border-radius: 7px;
  border: 1px solid lightgrey;
  cursor: pointer;
  transition: background-color 0.5s ease;
  margin: 2px;
}
.assets:hover{
  background-color: #c8c8c8;
}
#sidebar {
  height: calc(100% - 4%);
  width: 220px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  border: solid 1px grey;
  overflow-y: scroll;
}
.sidebarCoin {
  background-color: #f5f5f5;
  border-radius: 7px;
  border: 1px solid lightgrey;
  cursor: pointer;
  transition: background-color 0.5s ease;
  margin-top: 2px;
  margin-bottom: 2px;
}
.sidebarCoin:hover{
  background-color: #c8c8c8;
}
#sidebarPagination {
  height: 4%;
  width: 220px;
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  left: 0;
  background-color: white;
  border: solid 1px grey;
}
.pageSelector {
  aspect-ratio: 1 / 1;
  height: 95%;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid lightgrey;
}
.pageSelector.view {
  cursor: default;
  background-color: #f5f5f5;
  border: none;
  color: #888;
  opacity: 0.85;
  pointer-events: none;
}
.pageSelector.disabled {
  cursor: default;
  border: none;
  pointer-events: none;
}